<%- include('./partials/head') %>
<section>
  <h1>Meet the squad 1F</h1>
  <div class="filters">
    <div class="selector">
      <p>Sort by:</p>
      <select class="filter" onchange="saveSelectedOption(this); location = this.value;">
        <option value="/">Standaard</option>
        <option value="/?sort=name">Naam A-Z</option>
        <option value="/?sort=-name">Naam Z-A</option>
        <option value="/?sort=id">ID laag-hoog</option>
        <option value="/?sort=-id">ID hoog-laag</option>
      </select>
    </div>
    

    <div class="selector">
      <p>Filter by:</p>
      <select class="sort">
        <option value="none" disabled>Filter</option>
        <option value="/" >Alle squads</option>
        <option value="/" >Squad D</option>
        <option value="/" >Squad E</option>
        <option value="/" >Squad F</option>
      </select>
    </div>
    
  </div>

  
</section>
<section>
  <h3>Teachers</h3>
  <grid>
    <% persons.forEach(person => { %>
      <% if (person.role.includes('co_teacher') || person.role.includes('squad_leader') || person.role.includes('tribe_leader')) { %>
        <div class="item teacher">
          <a class="name" href="https://github.com/<%= person.github_handle %>"><%= person.name %> <%= person.prefix %> <%= person.surname %></a>
          <ul class="roles">
            <% person.role.forEach(role => { %>
              <li><%= role %></li>
            <% }) %>
          </ul>
          <article class="bio">
            <p>
              <% if (person.bio) {
                  %><%= person.bio %><%
                } else {
                  %>Er is geen beschrijving beschikbaar van <%= person.name %>.<%
                }
                %></p>
          </article>
        </div>
      <% } %>
    <% }) %>
  </grid>

  <h3>Students</h3>

  <grid>
    <% persons.forEach(person => { %>
      <% if (person.role.includes('member')) { %>
        <div class="item students">

          <a class="name" href="/Person/<%= person.id %>">
            
            <%= person.name %> <%= person.prefix %> <%= person.surname %></a>          <ul class="roles">
            <% person.role.forEach(role => { %>
              <li><%= role %></li>
            <% }) %>
          </ul>
          <article class="bio">
            <p>
              <% if (person.bio) {
                  %><%= person.bio %><%
                } else {
                  %>Er is geen beschrijving beschikbaar van <%= person.name %>.<%
                }
                %></p>
          </article>
          <a class="websiteLink" href="">
            <img src="/img/website.png" alt="website">              
          </a>
        </div>

        

      <% } %>
    <% }) %>
  </grid>
  


    
    
</section>

<footer>
  <section>
    <form action="/" method="POST" >
      <h2>Bewerk je eigen foto</h2>
      <input type="file" name="file" id="file" accept="image/*">
      <input type="submit" value="Verstuur">
    </form>
  </section>
  
</footer>

<script src="/script.js"></script>
<script src="/filter.js"></script>

<%- include('./partials/foot') %>