<%- include('./partials/head') %>
<section>
  <h1>
    Meet the <%= (currentSquad == null) ? "Squads" : "Squad " + currentSquad %>
  </h1>
  <div class="filters">
    <div class="selector">
      <label for="sort">Sort by:</label>
      <select name="sort">
        <option value="none" disabled>Sorteer</option>
        <option value="all">All</option>
        <option value="name">Name</option>
        <option value="surname">Surname</option>
      </select>
    </div>
    

    <form class="selector">
      <label for="filter">Filter by:</label>
      <select name="filter">
        <option value="none" disabled>Filter</option>
        <option value="all" >Alle squads</option>
        <option value="3" >Squad D</option>
        <option value="4" >Squad E</option>
        <option value="5" >Squad F</option>
      </select>
      <button type="submit">Filter</button>
    </form>
  </div>
</section>
<section>
  <h3>
    <%= (currentSquad == null) ? "All squads" : "Squad " + currentSquad %>
  </h3>
  <grid>
    <% persons.forEach(person => { %>
        <div class="item students">

          <a class="name" href="/Person/<%= person.id %>">
            
            <%= person.name %> <%= person.prefix %> <%= person.surname %></a>          <ul class="roles">
            <% person.role.forEach(role => { %>
              <li><%= role %></li>
            <% }) %>
          </ul>
          <article class="bio">
            <p>
              <% if (person.bio) {
                  %><%= person.bio %><%
                } else {
                  %>Er is geen beschrijving beschikbaar van <%= person.name %>.<%
                }
                %></p>
          </article>
          <a class="websiteLink" href="">
            <img src="/img/website.png" alt="website">              
          </a>
        </div>
    <% }) %>
  </grid>
</section>

<footer>
  <section>
    <form action="/" method="POST" >
      <h2>Bewerk je eigen foto</h2>
      <input type="file" name="file" id="file" accept="image/*">
      <input type="submit" value="Verstuur">
    </form>
  </section>
  
</footer>

<script src="/script.js"></script>
<script src="/filter.js"></script>

<%- include('./partials/foot') %>