<%- include('./partials/head') %>
<section>
  <h1>Meet <%= data.name %></h1>

  <a href="/">Return to Squads</a>
</section>
<section>

  <grid class="profile-info">
        <div class="item profile">

            <h2 class="name" href="/Person/<%= data.id %>">
                
                <%= data.name %> <%= data.prefix %> <%= data.surname %>
            </h2>          
            
            <ul class="roles">
                <% data.role.forEach(role => { %>
                <li><%= role %></li>
                <% }) %>
            </ul>
          <article class="bio">
            <p>
              <%= data.bio %></p>
          </article>
          <a class="websiteLink" href="">
            <img src="/img/website.png" alt="website">              
          </a>
        </div>


        <div class="messages">
            <h3>Messages on your profile</h3>
            <p class="count">You recieved 
                <% if (data.messages) { %>
                <%= data.messages %> messages
                <% } else { %>
                0 messages
                <% }
                %>
            </p>

            <ul>
                <li>Message 1</li>
                <li>Message 2</li>
                <li>Message 3</li>
            </ul>
        </div>

        

  </grid>

</section>


<script src="/script.js"></script>
<script src="/filter.js"></script>

<%- include('./partials/foot') %>